.weather-info-block{
    background-color: #60b4ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10%;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 250px;
    min-width: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.weather-info-block h2{
    font-size: 2.5rem;
}

.weather-info-block h4{
    font-size: 1.5rem;
}

.weather-info-block p{
    margin-top: -1rem;
    font-size: 1.5rem;
}

.CurrentWeather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:40px;
    margin-left: auto;
    margin-right: auto;
    
}
.city-header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color:#60b4ec;
}

@media only screen and (max-width: 400px) {
    .city-header{
        font-size: 1.5rem;
        margin-left: 1rem;
    }
  }